body { 
	padding-top: 50px; 
	text-align: center;
	#background: pink;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1, h2, h3{
    font-family: 'Ledger', serif;
}
h3{
	margin-top: -5px;
}
#meId {
   font-size: 16px; 
}
p{
  font-family: 'Merriweather', serif; 
	text-indent: 30px;
    text-align: left;
}
ul{
    margin-left: 50px;
}
li{
    text-align: left;
    font-family: 'Merriweather', serif;  
}
.container{
	width:960px;
	text-align: center; 
	background: white;
}
.conMain{
	box-shadow: 5px 5px 5px #888888;	
}
.navbar{
   #width:960px;
	color: black;
    
}

.imag{
  border-radius: 5%;
  #margin: 20px 0px 10px 0px;
}
.row{
	margin-left: 1px;
	margin-right: 1px
}
.thumbnail img{
    border: 2px solid grey;
    
}
.thumbnail p{
    text-indent: 30px;
    text-align: left; 
    
    margin-left: 3px;
    margin-right: 3px;
    #font-weight: bold !important;
}
#thumby{
    @color: dodgerblue!important;
    font-size: 16px
}

#postDate{
    text-align: right;
    color: darkgrey;
}
#innerImg{
	width: 700px;
}
.wellLast p{
	text-align: center !important;
}
.btn-group{
	margin: 5px
}
.obrwell{
	background: #e6f7ff
}
.thum1{
	background: #e6f7ff;
}
.thum2{
	background: #ffe6ff
}
.thum3{
	background: #e6ffe6
}
.wellFirst{
	background: #e6f7ff;
}
