
.tenp{
  margin-left: 10%;
  margin-right: 10%;
  margin-top:5%
}
.navb{
  margin-left: 10%;
  margin-right: 10%;
}
.padtp{
  padding:7px 0px 5px 0px;
}
.butt{
  margin: 0px 1px 0px 1px;
}
.imag{
  border-radius: 5%;
  margin: 20px 0px 10px 0px;
}
 h3 {
  font-family:;
  text-align: right;
} 