body { 
	padding-top: 50px; 
	text-align: center;
	#background: pink;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1, h2{
    font-family: 'Ledger', serif;
}
#meId {
   font-size: 16px; 
}
p{
  font-family: 'Merriweather', serif;  
}
ul{
    margin-left: 140px;
}
li{
    text-align: left;
    font-family: 'Merriweather', serif;  
}
.container{
width:960px;
text-align: center; 
background: white;
	

}
.conMain{
box-shadow: 5px 5px 5px #888888;	
}
.navbar{
   #width:960px; 
    
}

.imag{
  border-radius: 5%;
  #margin: 20px 0px 10px 0px;
}
.thumbnail{
margin-left: 10px;
margin-right: 10px
}
.thumbnail img{
    border: 2px solid grey;
    
}
.thumbnail p{
    text-indent: 30px;
    text-align: left; 
    
    margin-left: 20px;
    margin-right: 20px;
    #font-weight: bold !important;
}
#thumby{
    @color: dodgerblue!important;
    font-size: 16px
}

#postDate{
    text-align: right;
    color: darkgrey;
}